* {
  padding: 0;
  margin: 0;
  list-style: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
.screen {
  position: fixed;
  inset: 0;
  background: red;
  overflow: auto;
}

.screen.editable {
  cursor: crosshair;
}

.mouse-follower-text {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  transform: translateY(-50%);
}

.note {
  background-color: var(--color);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}
.note::before {
  position: absolute;
  top: -10px;
  left: -10px;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background: yellow;
  border-radius: 50%;
}

.note-box {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  width: min(90vw, 380px);
  display: flex;
  flex-direction: column;
}

.note-box select {
  appearance: none;
  background: var(--color);
  color: white;
  font-weight: inherit;
  font-family: inherit;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-image: url("./arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

.note-box select option {
  background-color: #fff;
  color: black;
}

.note-box textarea {
  border: 1px solid rgb(169, 169, 169);
  padding: 8px;
  resize: none;
}

.note-box .note-box-number {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%) translateY(-75%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--color);
  display: grid;
  place-items: center;
  cursor: default;
  user-select: none;
  color: white;
}

.note-box button {
  align-self: flex-start;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 600;
  background-color: var(--color);
  color: white;
  margin-top: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.note-box button:hover {
  filter: brightness(120%);
}
