.screen {
  position: fixed;
  inset: 0;
  background: red;
  overflow: auto;
}

.screen.editable {
  cursor: crosshair;
}

.mouse-follower-text {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  transform: translateY(-50%);
}

.note {
  background-color: var(--color);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

.note-box {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
